*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   background-color: rgb(255, 255, 255); 
   background-image: url("/Img/backgroundimg.jpg")
}



h1{
    text-align: center;
}
h2{
    font-style: italic;
}

.sobrenosotros{
    display: flex;
    align-items: center;
}





.fotos{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40%);
    gap: 2rem;
    margin: 3rem 2rem;

    
}

main .fotos img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.embarcacion{
    display: none;
}



footer{
    color: #CC3433;
    text-align: center;
}

/*mq de tablet*/
@media screen and (min-width:600px){
   
    .main{grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 50%);
    }
    body{
        background-color: rgb(255, 255, 255);
    }
    
   
        .fotos{
            grid-template-columns: repeat(2, 1.5fr);
            grid-template-rows: repeat(2, 50%);
            height: 80vh;
        }
    
    }

    /*mq escritorio*/
    @media screen and (min-width:1024px){
        header{
            flex-direction: row;
        }
        .embarcacion{
            display: block;
        }   
        .fotos .profesor{
            grid-column: span 2;
            height: 80vh;
        }
        
        }
        
        
    
